# Terrain3D
project/addons/terrain_3d/bin/
project/_dev/
project/_export/
project/_tests/
project/test/
src/_archive/
src/gen/
_misc/
_patches/
*.zip

# Docs
doc/_build
doc/art/

# Godot-specific ignores (Include script cache. See godot issue #75388)
/project/.import/
/project/.godot/
export.cfg
export_presets.cfg

# Objects
.scons-cache/
*.os
*.obj
*.o

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

# Editors
.vscode/
.vs/
