# Terrain3D
project/test/
project/addons/terrain_3d/bin/
project/addons/terrain_3d/editor/gterrain-ui/
project/_dev/
project/_export/
project/tests/
patches/

# Godot-specific ignores (script cache see godot issue #75388)
/project/.import/
/project/.godot/*
!/project/.godot/global_script_class_cache.cfg
export.cfg
export_presets.cfg

# Objects
.scons-cache/
*.os

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

# Editors
.vscode/
.vs/
*.obj
