[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = master
[submodule "rider-cpp-msbuild"]
	path = rider-cpp-msbuild
	url = https://github.com/JetBrains/rider-cpp-msbuild.git
