name: 🤖 Android Builds
on: [ workflow_call, workflow_dispatch ]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - identifier: android-debug
            name: Android Debug
            target: template_debug
            platform: android
            arch: arm64
          - identifier: android-release
            name: Android Release
            target: template_release
            platform: android
            arch: arm64

    steps:
      - name: Checkout Terrain3D
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Android dependencies
        if: startsWith(matrix.identifier, 'android-')
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r23c
          link-to-sdk: true

      - name: Setup Base Dependencies
        uses: ./.github/actions/base-deps

      - name: Setup Build Cache
        uses: ./.github/actions/build-cache
        with:
          cache-name: ${{ matrix.identifier }}
        continue-on-error: true

      - name: Build Terrain3D
        shell: sh
        env:
            SCONS_CACHE: "${{ github.workspace }}/.scons-cache/"
        run: |
          scons target='${{ matrix.target }}' platform='${{ matrix.platform }}' arch='${{ matrix.arch }}' debug_symbols=no -j2

      - name: Include Files
        shell: sh
        run: |
          ls -l project/addons/terrain_3d/bin/
          cp '${{ github.workspace }}/README.md' '${{ github.workspace }}/LICENSE.txt' ${{ github.workspace }}/project/addons/terrain_3d/

      - name: Upload Package
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }}
          path: |
            ${{ github.workspace }}/project/
