name: 🍎 macOS Builds
on: [ workflow_call, workflow_dispatch ]

jobs:
  build-macos:
    name: ${{ matrix.name }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - identifier: macos-debug
            name: macOS Debug
            target: template_debug
            platform: macos
          - identifier: macos-release
            name: macOS Release
            target: template_release
            platform: macos

    steps:
      - name: Checkout Terrain3D
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Base Dependencies
        uses: ./.github/actions/base-deps

      - name: Setup Build Cache
        uses: ./.github/actions/build-cache
        with:
          cache-name: ${{ matrix.identifier }}
        continue-on-error: true

      - name: Build Terrain3D
        shell: sh
        env:
            SCONS_CACHE: "${{ github.workspace }}/.scons-cache/"
            SCONS_CACHE_LIMIT: 7168
        run: |
          scons target='${{ matrix.target }}' platform='${{ matrix.platform }}' arch='${{ matrix.arch }}' debug_symbols=no -j2

      - name: Include Files
        shell: sh
        run: |
          ls -l project/addons/terrain_3d/bin/*/
          cp '${{ github.workspace }}/README.md' '${{ github.workspace }}/LICENSE' ${{ github.workspace }}/project/addons/terrain_3d/

      - name: Upload Package
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }}
          path: |
            ${{ github.workspace }}/project/